@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.price {
  position: relative;
  padding-top: fluid(2.5rem, 6.125rem);

  &__lineLeft {
    position: absolute;
    left: 50%;
    top: -7.875rem;
    margin-left: -62.563rem;
    width: 33.125rem;
    height: auto;
    pointer-events: none;
  }

  &__lineRight {
    position: absolute;
    left: 50%;
    top: -8rem;
    margin-left: 32.5rem;
    width: 35.188rem;
    height: auto;
    pointer-events: none;
  }

  &__inner {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-family: "Gilroy_0", sans-serif;
    font-size: fluid(1.75rem, 2.5rem);
    font-weight: 700;
    color: $black;
    text-align: center;

    @media (max-width: 45rem) {
      font-size: 2rem;
    }
  }

  &__subtitle {
    margin-top: 1.563rem;
    font-family: "Gilroy_0", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    color: $black;
    text-align: center;

    @media (max-width: 45rem) {
      margin-top: 0.6875rem;
    }
  }

  &__rows {
    display: flex;
    flex-direction: column;
    gap: fluid(0.9rem, 1.3rem);
    margin-top: fluid(1.25rem, 2.125rem);

    @media (max-width: 45rem) {
      gap: 2.1875rem;
      margin-top: 0.8875rem;
    }
  }

  &__row {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 1.375rem;
  }

  &__label {
    font-family: "Disruptors-Script_0", sans-serif;
    font-size: fluid(2.25rem, 4.313rem);
    font-weight: 400;
    line-height: 0.87;
    color: $black;
    white-space: nowrap;

    @media (max-width: 45rem) {
      font-size: 3rem;
    }
  }

  &__value {
    font-family: "Gilroy_0", sans-serif;
    font-size: fluid(1.25rem, 2.25rem);
    font-weight: 400;
    line-height: 1.1;
    color: $black;
    white-space: nowrap;

    b {
      font-weight: 400;
      color: $electric-blue;
    }
  }

  @media (max-width: 68.75rem) {
    &__lineLeft,
    &__lineRight {
      display: none;
    }
  }

  @media (max-width: 45rem) {
    &__row {
      flex-direction: column;
      align-items: center;
      gap: 0.25rem;
      text-align: center;
    }

    &__value {
      white-space: normal;
    }

    &__lineLeft {
      display: block;
      top: 9.9375rem;
      left: -9.7875rem;
      margin-left: 0;
      width: 14.7625rem;
    }

    &__lineRight {
      display: block;
      top: 3.544rem;
      right: -17.83rem;
      left: auto;
      margin-left: 0;
      width: 22.31rem;
    }
  }
}
