@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.advantages {
  padding-top: fluid(2.5rem, 5.875rem);
  padding-left: fluid(0.6875rem, 0rem, 20rem, 45rem);
  padding-right: fluid(0.6875rem, 0rem, 20rem, 45rem);

  &__title {
    font-family: "Gilroy_0", sans-serif;
    font-size: fluid(1.75rem, 2.5rem);
    font-weight: 700;
    color: $black;
    padding-left: fluid(0rem, 3.438rem);

    @media (max-width: 45rem) {
      font-size: 2rem;
      padding-left: 1.3125rem;
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: fluid(1.25rem, 2.25rem);
    margin-top: fluid(1.75rem, 3.125rem);

    @media (max-width: 45rem) {
      margin-top: 2.3875rem;
    }
  }
}

.advantage {
  position: relative;
  overflow: hidden;
  width: 31.67%;
  min-height: fluid(16rem, 22.313rem);
  padding: fluid(0.75rem, 1rem) 0 0;
  background: $white;
  border-radius: 1rem;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.07);

  @media (max-width: 45rem) {
    min-height: var(--min-height-mobile);
    padding-top: 1.1875rem;
  }

  &_row2 {
    min-height: fluid(13rem, 17.125rem);

    @media (max-width: 45rem) {
      min-height: var(--min-height-mobile);
    }
  }

  &_wide {
    width: 66.54%;
  }

  &__title {
    font-family: "Gilroy_0", sans-serif;
    font-size: fluid(1.125rem, 1.5rem);
    font-weight: 700;
    line-height: 1.2;
    color: $black;
    text-align: center;

    @media (max-width: 45rem) {
      font-size: 1.5rem;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.375rem;
    margin-top: 1.438rem;
    padding-left: fluid(1.25rem, 2.188rem);

    @media (max-width: 45rem) {
      padding-left: 2.1875rem;
    }
  }

  &__item {
    position: relative;
    padding-left: 1.5rem;
    font-family: "Gilroy_0", sans-serif;
    font-size: fluid(1rem, 1.25rem);
    font-weight: 400;
    line-height: 1.15;
    color: $black;

    @media (max-width: 45rem) {
      padding-left: 1.319rem;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0.438rem;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      background: $electric-blue;
    }
  }

  &__img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: var(--img-width);
    height: auto;
    pointer-events: none;

    @media (max-width: 45rem) {
      width: var(--img-width-mobile);
    }
  }

  @media (max-width: 56.25rem) {
    width: 48.5%;

    &_wide {
      width: 100%;
    }

    &__item br {
      display: none;
    }
  }

  @media (max-width: 35rem) {
    width: 100%;
  }
}
