@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: fluid(1.5rem, 2.25rem) 0 fluid(1.5rem, 2rem);

  &__container {
    @include min-max(320px, 73.5rem);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
  }

  &__copyright {
    font-family: "Gilroy_0", sans-serif;
    font-size: fluid(1rem, 1.25rem);
    font-weight: 700;
    color: $black;
  }

  &__partners {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: fluid(1.25rem, 2.5rem);

    @media (max-width: 45rem) {
      gap: 1.75rem;
    }
  }

  &__partner {
    height: fluid(2rem, 2.5rem);
    width: auto;
    object-fit: contain;

    @media (max-width: 45rem) {
      height: 2.4rem;
    }
  }

  @media (max-width: 45rem) {
    border-top: none;
    padding-top: 0.5rem;

    &__container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 0;
    }

    &__partners {
      order: -1;
      justify-content: center;
    }

    &__copyright {
      order: 1;
      width: 100%;
      margin-top: 2.75rem;
      padding-top: 1.85rem;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      text-align: center;
      font-size: 1.25rem;
    }
  }
}
